<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<activator>@MODULE_PACKAGE@.ModuleActivator</activator>
	<description>
			${project.parent.description}
	</description>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
	</require_modules>
	<!-- Extensions -->

	<!-- /Base Module Properties -->
	
	<require_version>${openmrs.platform.version}</require_version>

	<mappingFiles>AuditLog.hbm.xml</mappingFiles>
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

